<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>登录</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}"/>
</head>
<body>

<div id="login">
    <div class="wrapper">
        <div class="login">
            <form action="#" method="post" class="container offset1 loginform">
                <div id="owl-login">
                    <div class="hand"></div>
                    <div class="hand hand-r"></div>
                    <div class="arms">
                        <div class="arm"></div>
                        <div class="arm arm-r"></div>
                    </div>
                </div>
                <div class="pad">
                    <div class="control-group">
                        <div class="controls">
                            <label for="userName" class="control-label fa fa-envelope"></label>
                            <input id="userName" type="text" name="userName" placeholder="用户名" value="admin" class="form-control input-medium" />
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label for="password" class="control-label fa fa-asterisk"></label>
                            <input id="password" type="password" name="password" placeholder="密码" value="123456" class="form-control input-medium" />
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="button" id="doLogin" class="btn btn-primary">登录</button>
                    <button type="button" id="doReset" class="btn">重置</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="../static/js/jquery-2.0.3.min.js" th:src="@{/js/jquery-2.0.3.min.js}"></script>
<script>
    $(function() {
        $('#login #password').focus(function() {
            $('#owl-login').addClass('password');
        }).blur(function() {
            $('#owl-login').removeClass('password');
        });

        //登录操作
        $("#doLogin").click(function (e) {
            $.ajax({
                type : "POST",
                url : "/login",
                data : {
                    "userName" : $("#userName").val(),
                    "password" : $("#password").val()
                },
                dataType : "json",
                success : function(data) {
                    if (data.result == "1") {
                        window.location.href ="/learn";
                    } else {
                        alert('账号密码不能为空！');
                    }
                }
            });
        });

        //重置操作
        $("#doReset").click(function (e) {
            $("#userName").val("");
            $("#password").val("");
        });

    });
</script>

</body>
</html>